<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
	<insert id="userInsert" parameterType="hashMap">
		INSERT INTO userVO VALUES (#{signEmail} ,#{signPwd},now(), DEFAULT, DEFAULT ,DEFAULT ,DEFAULT ,DEFAULT);
	</insert>
	
	<insert id="userRoleInsert" parameterType="hashMap">
		INSERT INTO userRoleVO VALUES (Default, #{signEmail} , #{userRole});
	</insert>
	
	<select id="accountCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM userVO WHERE account=#{signAccount}
	</select>
	
	<select id="userLogin" parameterType="String" resultType="String">
		SELECT pwd from userVO where account=#{logAccount}
	</select>
	
	<select id="userAccountCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM userVO WHERE account=#{logAccount}
	</select>
</mapper>