<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
	<insert id="userInsert" parameterType="com.shun.blog.model.user.UserVO">
		INSERT INTO userVO VALUES (#{signEmail} ,#{signPwd},now(), DEFAULT, DEFAULT ,DEFAULT ,DEFAULT ,DEFAULT);
	</insert>
	
	<insert id="userRoleInsert" parameterType="com.shun.blog.model.user.UserRoleVO">
		INSERT INTO userRoleVO VALUES (Default, #{account} , #{userRole});
	</insert>
	
	<select id="ownUserCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM userVO WHERE account=#{signAccount}
	</select>
	
	<select id="userLogin" parameterType="String" resultType="com.shun.blog.model.user.UserVO">
		SELECT account,joindate,grade
		FROM userVO where account=#{signEmail}
	</select>
	
	<select id="userLoginCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM userVO WHERE account=#{logAccount}
	</select>
</mapper>